
<!-- component -->
<app-navbar></app-navbar>
<div class="min-h-screen p-6 bg-gray-700 flex items-center justify-center">
  <form [formGroup]="form">
    <div class="container max-w-screen-lg mx-auto">
      <div>
        <h2 class="font-semibold text-xl text-gray-100">Entrez les données relatives aux actifs corporels </h2>
        <p class="text-gray-500 mb-6"></p>
  
        <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
           
            <div class="text-gray-600">
              <p class="font-medium text-lg">Description</p>
              <p class="text-gray-700">  Cet élément représente la liste des actifs corporels détenus par le groupe d’entreprises et utilisés par l’entreprise déclarante. </p>
            </div>
           
            <div class="lg:col-span-3">

                
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
               
                <div class="md:col-span-5">
                   
                  <label >Matricule fiscale de l'entreprise</label>
                  <input type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="matriculeFiscal" />
                  <span   *ngIf="form.hasError('required','matriculeFiscal')&& form.controls['matriculeFiscal'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                </div>
  
                <div class="md:col-span-5">
                  <label for="email">Choisir un territoire</label>
                  <select formControlName="etatTerritoire"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                  <option value="">Choisir un territoire</option>
                  <option *ngFor="let country of countriesList" [value]="country">{{ country }}</option>
                </select>
                </div>
  
              
  
                <div class="md:col-span-2">
                  <label >L'identifiant de l'entreprise</label>
                  <input  type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="identifiant" />
                  <span  *ngIf="form.hasError('required','identifiant')&& form.controls['identifiant'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                </div>
  
                <div class="md:col-span-3">
                  <label for="address"> Raison Sociale </label>
                  <input type="text" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="raisonSociale" />
                  <span  *ngIf="form.hasError('required','raisonSociale')&& form.controls['raisonSociale'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                </div>

                <div class="md:col-span-3">
                    <label >La qualité de l'entreprise</label>
                    <select formControlName="qualite"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                <option value="">Choisir une qualité</option>
                <option value="1">Entité mère ultime</option>
                <option value="2">Entité mère non ultime</option>
                <option value="3">Entreprise holding</option>
                <option value="4">Entreprise filiale</option>
                <option value="5">Établissement stable</option>
                <option value="6" >Autre qualité</option>
              </select>
                  </div>               
                  <div class="md:col-span-2" *ngIf="AutreQualityVisible">
                    <label >Autre qualité</label>
                    <input type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"  formControlName="autrequalité"/>
                    <span  *ngIf="form.hasError('required','autrequalité')&& form.controls['autrequalité'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                  </div>
                  <div class="md:col-span-3">
                    <label >La nature de la relation entre les entreprises</label>
                    <select formControlName="natureRelation"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                <option value="">Choisir une nature de relation</option>
                <option value="1 ">Propriétaires</option>
                <option value="2">Copropriétaires</option>
                <option value="3">Locataires</option>
                <option value="4">Concessionnaires</option>
                <option value="5">Autre nature de relation</option>
               
              </select>
                  </div>  
                  <div class="md:col-span-2" *ngIf="AutreRelationVisible">
                    <label >Autre nature de relation</label>
                    <input  type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="autreNatureRelation" />
                    <span *ngIf="form.hasError('required','autreNatureRelation')&& form.controls['autreNatureRelation'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                  </div>


                  <div class="md:col-span-3">
                    <label >La nature d'actif corporel</label>
                    <select   formControlName="natureActifcorporel"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                <option value="">Choisir une nature d'actif corporel</option>
                <option  value="1">Terrains nus</option>
                <option value="2">Terrains aménagés</option>
                <option value="3">Terrains bâtis</option>
                <option value="4">Agencement et aménagements des
                  terrains/option>
                <option value="5">Bâtiments</option>
                <option value="6">Installations générales, agencements
                  et aménagements des constructions</option>
                <option value="7">Ouvrage d'infrastructures</option>
                <option value="8">Construction sur sol d'autrui</option>
                <option value="9">Installation technique</option>
                <option value="10">Materiel industriel</option>
                <option value="11">Outillage industriel</option>
                <option value="12">Agencements et aménagements du
                  matériel et outillage industriels</option>
                <option value="13"> Matériel de transports de biens</option>
                <option value="14">Matériel de transports de personnes</option>
                <option value="15">Installations générales, agencements
                  et aménagements divers</option>
                <option value="16">Equipement de bureau</option>
                <option value="17"> Emballages récupérables
                  identifiables</option>
                  <option value="18">Autre nature d'actif corporel</option>


              </select>
                  </div>  
  
                  <div class="md:col-span-2" *ngIf="AutreActifVisible">
                    <label >Autre nature d'actif corporel</label>
                    <input  type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="autreNatureActifcorporel" />
                    <span *ngIf="form.hasError('required','autreNatureActifcorporel')&& form.controls['autreNatureActifcorporel'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                  </div>
  
               
        
                  <div class="md:col-span-5 text-center ">
                    <div class="relative items-center justify-center">
                      <button type="submit"  class="bg-gray-700  hover:bg-gray-700  text-white py-2 px-4 rounded ml-3 ">Passer</button>
                      <button type="submit" [disabled]="form.invalid" [class.disabled]="form.invalid" (click)="submit()" class="bg-gray-700 ml-5 hover:bg-gray-700 text-white py-2 px-4 rounded">Valider </button>
                      <button type="reset" [disabled]="form.invalid" [class.disabled]="form.invalid" (click)="submit()" class="bg-gray-700  hover:bg-gray-700 ml-8 text-white  py-2 px-4 rounded">Faire une nouvelle déclaration</button>
                    </div>
  
                   
                  </div>
       
         
            
          
              </div>
    
            </div>
                    
        
          </div>
        </div>
      </div>
  
    
    </div>
  </form>
  </div>

