
<!-- component -->
<app-navbar></app-navbar>
<div class="min-h-screen p-6 bg-gray-700 flex items-center justify-center">
    <form [formGroup]="form">
      <div class="container max-w-screen-lg mx-auto">
        <div>
          <h2 class="font-semibold text-xl text-gray-100">Le formulaire de la partie entité mère ultime </h2>
          <p class="text-gray-500 mb-6"></p>
    
          <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
             
              <div class="text-gray-600">
                <p class="font-medium text-lg">Description</p>
                <p class="text-blue-600"> Ce formulaire représente les informations sur l’entité mère ultime du groupe d’entreprises. </p>
              </div>
             
              <div class="lg:col-span-3">
  
                  
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                 
                  <div class="md:col-span-5">
                     
                    <label >Matricule fiscale de l'entreprise</label>
                    <input type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="matriculeFiscal" />
                    <span   *ngIf="form.hasError('required','matriculeFiscal')&& form.controls['matriculeFiscal'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                  </div>
    
                  <div class="md:col-span-5">
                    <label for="email">Choisir un territoire</label>
                    <select formControlName="etatTerritoire"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                    <option value="">Choisir un territoire</option>
                    <option *ngFor="let country of countriesList" [value]="country">{{ country }}</option>
                  </select>
                  </div>
    
                
    
                  <div class="md:col-span-2">
                    <label >L'identifiant de l'entreprise</label>
                    <input  type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="identifiant" />
                    <span  *ngIf="form.hasError('required','identifiant')&& form.controls['identifiant'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                  </div>
    
                  <div class="md:col-span-3">
                    <label for="address"> Raison Sociale </label>
                    <input type="text" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="raisonSociale" />
                    <span  *ngIf="form.hasError('required','raisonSociale')&& form.controls['raisonSociale'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                  </div>

                  <div class="md:col-span-3">
                    <label for="address"> Adresse siége sociale </label>
                    <input type="text" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="adresseSiegeSocial" />
                    <span  *ngIf="form.hasError('required','adresseSiegeSocial')&& form.controls['adresseSiegeSocial'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                  </div>
      
                   
                 
          
                  <div class="md:col-span-5 text-right">
                    <div class="inline-flex items-end">
                      <button [disabled]="form.invalid" [class.disabled]="form.invalid" (click)="submit()" class="bg-gray-700 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Valider</button>
                  
                    </div>
                 
                  </div>
           
              
            
                </div>
      
              </div>
                      
          
            </div>
          </div>
        </div>
    
      
      </div>
    </form>
    </div>
  
  