
<!-- component -->
<app-navbar></app-navbar>
<div class="min-h-screen p-6 bg-gray-700 flex items-center justify-center">
  <form [formGroup]="form">
    <div class="container max-w-screen-lg mx-auto">
      <div>
        <h2 class="font-semibold text-xl text-gray-100">Les informations des opérations </h2>
        <p class="text-gray-300 mb-6">Informations sur les operations sans contrepartie ou avec contre partie non monetaire</p>
  
        <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
           
            <div class="text-gray-600">
              <p class="font-medium text-lg">Remplissez ce formulaire</p>
              <p class="text-gray-700">Les Informations sur les contres parties non monétaires pour les biens ou services</p>
            </div>
           
            <div class="lg:col-span-3">

                
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">


                <div class="md:col-span-5  text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-full">
                  <div class="p-6">
                    <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                      Affirmation
                    </h5>
                    <p class="text-gray-500 mb-6">
                      Cet élément représente les biens (corporels ou incorporels) et/ou services accordés ou transférés par l’entreprise déclarante
aux entreprises liées, sans contrepartie ou avec contrepartie. 
                  </div>
                  <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                      <input  type="radio" value="O" formControlName="affirmation"  class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-900">Oui</label>
                  </div>
                  <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                      <input checked type="radio" formControlName="affirmation" value="N"  class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="bordered-radio-2" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-900">Non</label>
                  </div>
                </div>
                
               
                <div class="lg:col-span-5" *ngIf="visible" >

                
                  <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-5" >
                   
                  <label >Matricule fiscale de l'entreprise</label>
                  <input type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="matriculeFiscal" />
                  <span   *ngIf="form.hasError('required','matriculeFiscal')&& form.controls['matriculeFiscal'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                </div>
                <div class="md:col-span-5" >
                  <label>Choisir un territoire</label>
                  <select formControlName="etatTerritoire"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                  <option value=""> Choisir une option </option>
                  <option *ngFor="let country of countriesList" [value]="country">{{ country }}</option>
                </select>
                </div> 
                <div class="md:col-span-2" >
                  <label >L'identifiant de l'entreprise</label>
                  <input  type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="identifiant" />
                  <span  *ngIf="form.hasError('required','identifiant')&& form.controls['identifiant'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                </div>
                <div class="md:col-span-3">
                  <label > Raison Sociale </label>
                  <input type="text" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="raisonSociale" />
                  <span  *ngIf="form.hasError('required','raisonSociale')&& form.controls['raisonSociale'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                </div>
                <div class="md:col-span-3" >
                    <label >La qualité de l'entreprise</label>
                    <select formControlName="qualite"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                    <option value="">Choisir une qualité d'entreprise</option>
                    <option value="1">Entité mère ultime</option>
                    <option value="2">Entité mère non ultime</option>
                    <option value="3">Entreprise holding</option>
                    <option value="4">Entreprise filiale</option>
                    <option value="5">Établissement stable</option>
                    <option value="6">autre qualité</option>
                  </select>
                  </div>               
                  <div class="md:col-span-2" *ngIf=" AutreQualityVisible">
                    <label >Autre qualité</label>
                    <input type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"  formControlName="autreQualité"/>
                   
                  </div>
                  <div class="md:col-span-3" >
                    <label >La nature de la relation entre les entreprises</label>
                    <select formControlName="natureRelation"
              class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
              <option value="">Choisir une nature de relation</option>
              <option value="1 ">Propriétaires</option>
              <option value="2">Copropriétaires</option>
              <option value="3">Locataires</option>
              <option value="4">Concessionnaires</option>
              <option value="5">Autre nature de relation</option>
             
            </select>
                  </div>  
                  <div class="md:col-span-2" *ngIf="AutreRelationVisible">
                    <label >Autre nature de relation</label>
                    <input  type="text"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="autreNatureRelation" />
                    
                  </div>
                 <div class="md:col-span-5" >
                  <label >La nature des biens ou des services</label>
                  <textarea class="h-20 border mt-1 rounded px-4 w-full bg-gray-50 text-center  " formControlName="natureBiensOuService"></textarea>
                  <span *ngIf="form.hasError('required','natureBiensOuService')&& form.controls['natureBiensOuService'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                </div>
                <div class="md:col-span-5" >
                  <label >La nature des contres parties</label>
                  <textarea class="h-20 border mt-1 rounded px-4 w-full bg-gray-50" formControlName="natureContrepartie"></textarea>
                  <span *ngIf="form.hasError('required','natureContrepartie')&& form.controls['natureContrepartie'].dirty" class="text-red-600" > Ce champs est obligatoire ! </span>
                </div>
                
                  </div>
                </div>

                <div class="md:col-span-4 text-center " >
                  <div class="relative top-9  ml-48 left-28  ">
                    <button type="submit" [disabled]="form.invalid" [class.disabled]="form.invalid"  (click)="submit()"   class="bg-gray-700 hover:bg-gray-700 text-white py-2 px-4 rounded">Valider</button>
                   
                  </div>

                  <div class="relative mr-96 text-center  left-52 ">
                    <button type="reset" [disabled]="form.invalid" [class.disabled]="form.invalid" class="bg-gray-700 hover:bg-gray-700 text-white text-center py-2 px-4 rounded">Faire une nouvelle déclaration</button>
                   
                  </div>
               
                </div>
             
           
            
          
              </div>
    
            </div>
                    
        
          </div>
        </div>
      </div>
  
    
    </div>
  </form>
  </div>







